<div id="page_content">
    <div id="page_content_inner">

        <!-- <h3 class="heading_b uk-margin-bottom">Datatables</h3> -->
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content large-padding topborder">
                <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-1-1">
                <page-heading> Leave Request Approval </page-heading>

                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-1-1 uk-text-right">
                        <a class="md-btn md-btn-primary md-btn-wave-light" ui-sref="restricted.Leave_Applications"
                            data-uk-modal="{center:true}"
                            style="text-transform: capitalize;float: right; background-color: #634792;">+ Add Leave</a>

                    </div>
                </div>

                <ul class="uk-tab" data-uk-tab="{connect:'#tabs_1'}">
                    <li class="uk-active"><a href="#">Leave Request</a></li>
                    <li><a href="#">Leave Info</a></li>
                </ul><br><br>
                <ul id="tabs_1" class="uk-switcher uk-margin"><li>
                <table datatable="ng" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" class="uk-table uk-table-align-vertical uk-table-striped uk-table-nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Employee Name</th>
                            <th>Leave Type</th>
                            <th>Form Date</th>
                            <th>To Date</th>
                            <th>Permission Date</th>
                            <th>From Time</th>
                            <th>To Time</th>
                            <th>No of Days/Hrs</th>
                            <th>Reason For Leave</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <!-- <tfoot>
                        <tr>
                            <th>EmployeeId/Name</th>
                            <th>Date</th>
                            <th>Date</th>
                            <th>Leave Type</th>
                            <th>No of Days</th>
                            <th>Reason For Leave</th>
                            <th>Remarks</th>
                            <th>Status</th>
                        </tr>
                    </tfoot> -->
                    <tbody>
                        <tr ng-repeat="user in LeaveTables" ng-class="{'row_checked': user.editable}">
                            <td>
                                {{$index+1}}
                            </td>
                            <td>
                                {{ user.full_name }}
                            </td>
                            <td>
                                {{ user.leave_type }}
                            </td>
                            <td>
                                {{ user.from_date |date: "dd-MM-yyyy"}}
                            </td>
                            <td>
                                {{ user.to_date |date: "dd-MM-yyyy"}}
                            </td>
                            <td>
                                {{user.permission_date |date: "dd-MM-yyyy"}}
                            </td>
                            <td>
                                {{user.from_time}}
                            </td>
                            <td>
                                {{user.to_time}}
                            </td>
                            <td>
                                {{user.totaldays}}
                            </td>
                            <td>
                                {{user.leave_reason}}
                            </td>
                            <td uk-align-center>
                                <a ui-sref="restricted.Leave_Applications({Id:{{user.id}}})"><i class="md-icon material-icons">&#xE254;</i></a>
                                <!-- <a ng-click="save($event,$index,user)" ng-show="user.editable"><i class="md-icon material-icons">&#xE161;</i></a> -->
                                <a ng-click="delete(user.id)"><i class="md-icon material-icons">&#xE872;</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </li>
                <li>
                <table datatable="ng" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" class="uk-table uk-table-align-vertical uk-table-striped uk-table-nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Employee Name</th>
                            <th>Leave Type</th>
                            <th>Form Date</th>
                            <th>To Date</th>
                            <th>Permission Date</th>
                            <th>From Time</th>
                            <th>To Time</th>
                            <th>No of Days/Hrs</th>
                            <th>Reason For Leave</th>
                            <th>Status</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="user in LeaveTables1">
                                
                                <td>{{$index+1}}</td>
                                
                                <td>
                                    {{ user.full_name }}
                                </td>
                                <td>
                                    {{ user.leave_type }}
                                </td>
                                <td>
                                    {{ user.from_date |date: "dd-MM-yyyy"}}
                                </td>
                                <td >
                                    {{ user.to_date |date: "dd-MM-yyyy"}}
                                </td>
                                <td>
                                    {{ user.permission_date |date: "dd-MM-yyyy"}}
                                </td>
                                <td>
                                    {{user.from_time |date: "HH:mm"}}
                                </td>
                                <td>
                                    {{user.to_time |date: "HH:mm"}}
                                </td>
                                <td>
                                    {{user.totaldays}}
                                </td>
                                <td>
                                    {{user.leave_reason}}
                                </td>
                                
                                <td>{{user.status}}</td>
                            </tr>
                    </tbody>
                </table>
            </li></ul>
            </div>
        </div>

    </div>
</div>

    